{% extends "_layouts/base.html" %}

{% block css %}
{{block.super}}
<style>
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
</style>
{% endblock css %}

{% block page_title %}Your Site - Home{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<!-- This code is taken from http://getbootstrap.com/examples/jumbotron/ -->

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">sosleep</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1>So Sleep</h1>
        <p>I am so frickin' tired. OMFG. </p>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRbgmV2_AU-HL2vjo8PbacYL4HS4KNcUCk1t-4oSam9Gc8Klk2G" alt="This is a great hammock" style="width:304px;height:228px;">
        <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Sleepy</h2>
          <p>ZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZ </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>SoSleep</h2>
          <p>ZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZ </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>So damn sleepy</h2>
          <p>ZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZZZZZZZZZZzzzzzzzZZZZZzzzZZZZZZZZZZZzzZZ</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
    </div>

{% endblock %}
